*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Styling for entire webpage */
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* Font styles for entire body */
body {
  font-family: Georgia, sans-serif;
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
/* Header styling "password generator" */
header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

/* Header card description slightly lighter than the title */
h3 {
  opacity: 70%;
}

/* The card styling that encompases the entire password generator field */
.card {
  background-color: white;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}
/* Appling styles below the card header */
.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

/* Centering the button and text */
.card-footer {
  text-align: center;
}

/* Spacing below the text field */
.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

/* Applying styles below button */
.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

/* Generate password button styling */
.btn {
  border: none;
  background-color: rgb(51, 98, 185);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: whitesmoke;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

/* Button tag styles */
button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

/* Float settings */
.float-right {
  float: right;
}

/* Password text field appearance */
#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

/* Media query to adjust styles at smaller screen widths (690px) */
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

/* Media query to adjust font size at smaller screen widths (500px) */
@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
